.modal-dialog {
  width: 100%;
  padding: 0;
}

.modal-content {
  height: 100%;
  border-radius: 0;
}
.card0 {
    box-shadow: 0px 4px 8px 0px #757575;
    border-radius: 0px
}

.card2 {
    margin: 0px 40px
}
.form-control {
    display: block;
    width: 100%;
    height: calc(1.0em + .75rem + 2px);
    font-size: 13px;
}
select.form-control:not([size]):not([multiple]) {
    height: calc(1.9rem + 2px);
    font-size: 13px;
}
.col-form-label {
font-size: 13px;
}
input[type=date].form-control, input[type=datetime-local].form-control, input[type=month].form-control, input[type=time].form-control {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-size: 13px;
}
input[type=date], input[type=datetime-local], input[type=month], input[type=time] {
    -webkit-appearance: listbox;
    height: 27px;
    width: 202px;
    font-size: 13px;
}
select {
    height: 25px;
    width: 135px;
    font-size: 13px;
}

.nav-tabs {
    font-size: 13px;
    border-bottom: 1px solid #dee2e6;
}
label {
    font-size: 13px;
}
.a{
    margin-left: 170px;
}
.table-bordered thead td, .table-bordered thead th {
    font-size: 13px;
    border-bottom-width: 2px;
}    
.fad{
    padding-left: 16px;
    padding-right: 18px;
}

  .addb {
    margin-left: 977px;
    background-color: tan;
  }
  
  /* On screens that are 992px or less, set the background color to blue */
  @media screen and (max-width: 992px) {
    .addb {
        margin-left: 499px;
      background-color: blue;
    }
  }
  
  /* On screens that are 600px or less, set the background color to olive */
  @media screen and (max-width: 600px) {
    .addb {
        margin-left: 277px;
      background-color: olive;
    }
  }
  @media screen and (max-width: 448px) {
    .addb {
        margin-left: 177px;
      background-color: olive;
    }
  }