<app-header></app-header>
<div class="content-wrapper">
  <div class="container-fluid">
    <div class="card-header">Document Numbering Master </div>
    <div class="row">
      <div class="col-xl-6 col-sm-6 mb-3">
        <div class="card card-register mx-auto mt-5" *ngIf="showDiv">
          <div class="card-header">Add Document Numbering Master</div><br>
          <form action="" method="post">
            <div class="form-group">
              <div class="form-row">
                <div class="col-md-6">
                  <!-- <select class="form-control" type="text"
                    aria-describedby="nameHelp" (change)="onSelect($event.target.value)" name="documentlist.doc_id" [(ngModel)]="selectedCountry.doc_id" >
                    <option value="0">select Documents Name</option>
                    <option [value]="docdata.doc_id" *ngFor="let docdata of documentlist" [selected]="selectedCountry.doc_id == docdata.doc_id" >{{docdata.docname}}</option>
                   </select> -->
                 <select class="form-control" id="docname" type="text"
                    aria-describedby="nameHelp" name="docname" placeholder="Documents Name" [(ngModel)]="document.docname">
                    <option value="0">Select Documents Name</option>
                    <option [value]="docdata.doc_id" *ngFor="let docdata of documentlist" >{{docdata.docname}}</option>
                </select> 
                </div>
              </div>
            </div>
            <div class="form-group">
                <div class="form-row">
                  <div class="col-md-6">
                    <input class="form-control" id="docSeries"  [(ngModel)]='document.docSeries' type="text"
                      aria-describedby="nameHelp" name="docSeries" placeholder="Document Series">
                  </div>
                </div>
            </div>
            <div class="form-group">
                <div class="form-row">
                  <div class="col-md-6">
                    <input class="form-control" id="docNo"  [(ngModel)]='document.docNo' type="text"
                      aria-describedby="nameHelp" name="docNo" placeholder="Document Number">
                  </div>
                </div>
            </div>
            <div class="form-group">
                <div class="form-row">
                  <div class="col-md-6">
                    <input class="form-control" id="docPrefix"  [(ngModel)]='document.docPrefix' type="text"
                      aria-describedby="nameHelp" name="docPrefix" placeholder="Prefix">
                  </div>
                </div>
            </div>
            <div class="form-group">
                <div class="form-row">
                  <div class="col-md-6">
                    <input class="form-control" id="docSuffix"  [(ngModel)]='document.docSuffix' type="text"
                      aria-describedby="nameHelp" name="docSuffix" placeholder="Suffix">
                  </div>
                </div>
            </div>
            <div class="form-group">
                <div class="form-row">
                  <div class="col-md-6">
                    <select class="form-control" id="year" type="text"
                      aria-describedby="nameHelp" name="year" >
                      <option>Select Financial Year</option>
                      <option *ngFor="let finyear of financialyearlist" [value]="finyear.yearId">{{finyear.yearFinancial}}</option>
                  </select>
                  </div>
                </div>
              </div>
            <button type="submit" (click)='saveDocuments()' class="btn btn-info">Submit</button>
          </form>
        </div>
        <div class="card card-register mx-auto mt-5" *ngIf="editDiv">
          <div class="card-header">Update Document Numbering</div><br>
          <form action="" method="post">
            <div>
              <input type="hidden" name="docNumId" id="docNumId" [(ngModel)]="doc.docNumId" class="form-control ">
            </div>
            <div class="form-group">
              <div class="form-row">
                <div class="col-md-6">
                  <input class="form-control" id="docname" [(ngModel)]='doc.docname' type="text"
                    aria-describedby="nameHelp" placeholder="Document name" name="docname">
                </div>
              </div>
            </div>
            <button type="submit" (click)='updateDocuments(doc)' class="btn btn-info">Update</button>
          </form>
        </div>
      </div>
      <div class="col-xl-6 col-sm-6 mb-3">
        <br><br>
        <div class="card mb-3">
        <div class="card-header">
          <i class="fa fa-table"></i> Document Numbering Master Table</div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
              <thead>
                <tr>
                  <th>SR.NO</th>
                  <th>Document Series</th>
                  <th>DocumentName</th>
                  <th>Edit</th>
                  <th>Delete</th>
                </tr>
              </thead>
              <tbody>
                <ng-container *ngFor="let document of documents">
                  <tr *ngIf="document.docDeleteFlag == '0'">
                    <td>{{document.docNumId}}</td>
                    <td>{{document.docSeries}}</td>
                    <td>{{document.doc_id}}</td>
                    <td><button class="btn btn-success" (click)="editDocument(document.docNumId)">Edit</button> </td>
                    <td><button class="btn btn-danger" (click)="deleteDocument(document.docNumId)">Delete</button> </td>
                  </tr>
                </ng-container>
              </tbody>
            </table>
          </div>
          </div>
        </div>
       </div>
    </div>
  </div>
</div>
  <app-footer></app-footer>
  