<app-header></app-header>
<div class="content-wrapper">
  <div class="container-fluid">
    <div class="card-header">Financial Year Master </div>
    <div class="row">
      <div class="col-xl-6 col-sm-6 mb-3">
        <div class="card card-register mx-auto mt-5" *ngIf="showDiv">
          <div class="card-header">Add Financial Year </div><br>
          <form action="" method="post">
            <div class="form-group">
              <div class="form-row">
                <div class="col-md-6">
                  <input class="form-control" id="yearStartDate"  [(ngModel)]='financialyear.yearStartDate' type="date"
                    aria-describedby="nameHelp" name="yearStartDate" placeholder="Year Start Date">
                </div>
              </div>
            </div>
            <div class="form-group">
                <div class="form-row">
                  <div class="col-md-6">
                    <input class="form-control" id="yearEndDate"  [(ngModel)]='financialyear.yearEndDate' type="date"
                      aria-describedby="nameHelp" name="yearEndDate" placeholder="Year End Date">
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="form-row">
                  <div class="col-md-6">
                    <input class="form-control" id="yearFinancial"  [(ngModel)]='financialyear.yearFinancial' type="text"
                      aria-describedby="nameHelp" name="yearFinancial" placeholder="Financial Year">
                  </div>
                </div>
              </div>
            <button type="submit" (click)='saveFinancialYear()' class="btn btn-info">Submit</button>
          </form>
        </div>
        <div class="card card-register mx-auto mt-5" *ngIf="editDiv">
          <div class="card-header">Update Financial Year </div><br>
          <form action="" method="post">
            <div>
              <input type="hidden" name="yearId" id="yearId" [(ngModel)]="fyear.yearId" class="form-control ">
            </div>
            <div class="form-group">
              <div class="form-row">
                <div class="col-md-6">
                  <input class="form-control" id="yearStartDate" [(ngModel)]='fyear.yearStartDate' type="date"
                    aria-describedby="nameHelp" placeholder="Financial Year Start Date" name="yearStartDate">
                </div>
              </div>
            </div>
            <div class="form-group">
                <div class="form-row">
                  <div class="col-md-6">
                    <input class="form-control" id="yearEndDate" [(ngModel)]='fyear.yearEndDate' type="date"
                      aria-describedby="nameHelp" placeholder="Financial Year End Date" name="yearEndDate">
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="form-row">
                  <div class="col-md-6">
                    <input class="form-control" id="yearFinancial"  [(ngModel)]='fyear.yearFinancial' type="text"
                      aria-describedby="nameHelp" name="yearFinancial" placeholder="Financial Year">
                  </div>
                </div>
              </div>
            <button type="submit" (click)='updateFinancialYear(fyear)' class="btn btn-info">Update</button>
          </form>
        </div>
      </div>
      <div class="col-xl-6 col-sm-6 mb-3">
        <br><br>
        <div class="card mb-3">
        <div class="card-header">
          <i class="fa fa-table"></i> Financial Master Table</div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
              <thead>
                <tr>
                  <th>SR.NO</th>
                  <th>Year Start</th>
                  <th>Year End</th>
                  <th>Year </th>
                  <th>Edit</th>
                  <th>Delete</th>
                </tr>
              </thead>
              <tbody>
                <ng-container *ngFor="let financialYear of financialY">
                  <tr *ngIf="financialYear.yearDeleteFlag == '0'">
                    <td>{{financialYear.yearId}}</td>
                    <td>{{financialYear.yearStartDate}}</td>
                    <td>{{financialYear.yearEndDate}}</td>
                    <td>{{financialYear.yearFinancial}}</td>
                    <td><button class="btn btn-success" (click)="editFinancialYear(financialYear.yearId)">Edit</button> </td>
                    <td><button class="btn btn-danger" (click)="deleteFinancialYear(financialYear.yearId)">Delete</button> </td>
                  </tr>
                </ng-container>
              </tbody>
            </table>
          </div>
          </div>
        </div>
       </div>
    </div>
  </div>
</div>
  <app-footer></app-footer>